/* ヘッダー関連 */

h2 {
  padding: 0.5em;
  color: #494949;
  background: #c1f7f4;
  border-left: solid 6px rgb(0, 255, 200);
}

h3::before {
  padding: 0.25em;
  content: "";
}

h3 {
  border-spacing: 3em;
  border-left: solid 4px #00eeff;
  border-bottom: solid 4px #00eeff;
}

/* ロゴ */

.logo:hover {
  content: url('../img/logo2.jpg');
}

/* ギャラリー用 */

.md-typeset .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.md-typeset .grid .card {
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
}

.grid .card:hover {
  transform: scale(1.5);
}

.grid .card img {
  aspect-ratio: 1.8/1;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* prankheart用 */

.md-typeset .image-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.md-typeset .left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 55%;
}

.md-typeset .right-column {
  width: 43%;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.left-column img {
  height: 50%;
}

/* otherworks用 */

.portfolio-container {
  display: flex;
  gap: 5px;
}

.portfolio-container p {
  border: solid 2px #ff0000;
}
